{% extends "luna/layout.html.j2" %}
{% import "macros.html.j2" as ui %}

{% block content %}
  {{ ui.salutation(recipient_name, punc=".") }}

  {% call ui.text_block() %}
    Your {{ ui.canterlot() }} account password was changed just now. For security, all your other active sessions have been terminated.
  {% endcall %}

  {% call ui.alert_box(type="danger") %}
    If you didn't make this change, contact support immediately.
  {% endcall %}

  {{ ui.support_button() }}
{% endblock %}