{% extends "spike/layout.html.j2" %}
{% set badge_category = "Status" %}
{% import "macros.html.j2" as ui %}

{% block content %}
  {{ ui.salutation(recipient_name, punc="!") }}

  {% call ui.text_block() %}
    Your role in the {{ ui.strong_no(club_name) }} has been updated: you are now {{ ui.strong(role_name, punc=".") }}
    {% if is_promotion %}
      This gives you access to more club management tools.
    {% else %}
      Your administrative permissions for this club have been modified.
    {% endif %}
  {% endcall %}

  {{ ui.action_button(action_url, "View club") }}
{% endblock %}